.home-page {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/beer-bottle-tops.jpg);
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}

.page-name {
    font-family: 'Patrick Hand', cursive;
    text-align: center;
    font-size: 50px;
    color: white;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/background-beer.jpeg);
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}

.header {
    background-color: #FFC85B;
}

.hops {
    width: 275px;
    height: 150px;
}



/* HOME PAGE NAME */
@import url(https://fonts.googleapis.com/css?family=Arvo:700);
@import url(https://fonts.googleapis.com/css?family=Seaweed+Script);

body {
    background-color: #222;
}

.plate {
    width: 410px;
    margin: 10% auto;
}

.shadow {
    color: #fff;
    font-family: Arvo;
    font-weight: bold;
    text-shadow:
        -3px -3px 0 #222,
        3px -3px 0 #222,
        -3px 3px 0 #222,
        3px 3px 0 #222,
        4px 4px 0 #fff,
        5px 5px 0 #fff,
        6px 6px 0 #fff,
        7px 7px 0 #fff;
    line-height: 0.8em;
    letter-spacing: 0.1em;
    transform: scaleY(0.7);
    -webkit-transform: scaleY(0.7);
    -moz-transform: scaleY(0.7);
    margin: 0;
    text-align: center;
}

.script {
    font-family: "Seaweed Script";
    color: #fff;
    text-align: center;
    font-size: 40px;
    position: relative;
    margin: 0;
}

.script span {
    background-color: #222;
    padding: 0 0.3em;
}

.script:before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: 50%;
    width: 100%;
    border-bottom: 3px solid #fff;
}

.text1 {
    font-size: 169px;
    text-align: center;
}

.text2 {
    font-size: 169px;
    margin-left: -140px;
}

.resource {
    font-size: 40px;
    text-align: center;
}

.p.shadow.text2 {
    text-align: center;
}

.nav {
    font-family: 'Patrick Hand', cursive;
    color: #104D59;
    font-size: 50px;
    padding-top: 30px;
}

div.col-lg-2.home.nav {
    width: 190;
}

.home {
    padding-left: 20px;
}

.name {
    font-family: 'Permanent Marker', cursive;
    font-family: 'Peralta', cursive;
    color: white;
    text-align: center;
    font-size: 80px;
    margin-top: 30px;
}



/* HOME PAGE  */
.history {
    background-color: none;
    width: 80%;
    height: 400px;
    margin-left: 10%;
    margin-top: 100px;
    margin-bottom: 200px;
    z-index: 100;
    overflow: scroll;
}

p.story-1:first-letter {
    font-size: 175%;
}

.story {
    color: white;
    font-size: 20px;
    padding: 25px;
    overflow: scroll;
}

.story-2,
.story-3 {
    padding-top: 0;
}



/* FOOTER */

footer {
    width: 100%;
    height: 50px;
    border-top: 5px solid #4aaaa5;
    margin-top: 200px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
}

.foot-text {
    background-color: #5B616A;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #ffffff;
    font-size: 18px;
}

p.foot-text {
    margin-top: 0;
}

.media {
    text-align: center;
}

#map {
    height: 450px;
    width: 500px;
}



/* FIND A BREW PAGE */

.table {
    height: 600px;
}

.find-a-brew {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/American_2row.jpeg);
    background-size: cover;
    /* color:#fff; */
    background-attachment: fixed;
}



/* ADD A BREW PAGE  */
.add-brew-page {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/beer-pint.jpg);
    background-size: cover;
    color: black;
    background-attachment: fixed;
}

.inputs {
    height: 40px;
    width: 300px;
    font-size: 20px;
    display: block;
    margin-left: 40%;
    margin-top: 40px;
    padding-left: 10px;
}

.input-1 {
    margin-top: 80px;
}

.submit {
    color: black;
    background-color: #FFC85B;
    height: 40px;
    width: 150px;
    border-radius: 10px;
    font-size: 20px;
    margin-left: 40%;
    margin-top: 40px;
}



/* LEARN TO BREW PAGE */

.page-3-name {
    margin-top: 60px;
}

.kits {
    color: white;
    font-size: 35px;
    margin-left: 10%;
    margin-top: 100px;
    margin-bottom: 0;
}

.beer-kits {
    text-align: center;
    background-color: white;
    width: 80%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-top: 50px;
    margin-bottom: 200px;
    margin-left: 10%;
}

.buy {
    font-family: 'Patrick Hand', cursive;
    color: #24242D;
    text-align: center;
    font-size: 50px;
}

.kit-1-image,
.kit-2-image,
.kit-3-image {
    width: 300px;
    height: 300px;
}

.kit-2-image {
    margin-top: 35px;
}

.kit-3-image {
    margin-bottom: 15px;
}

button {
    border-radius: 10px;
    border-color: black;
}

.amazon {
    width: 100px;
    height: 40px;
}


.videos {
    background-color: none;
    width: 80%;
    height: 1000px;
    margin-left: 10%;
    margin-bottom: 100px;
}

.instructions,
.extract,
.all-grain {
    text-align: center;
    padding-top: 20px;
    font-family: 'Patrick Hand', cursive;
    color: white;
    font-size: 50px;
}

.all-grain {
    margin-top: 30px;
}

.extract-header,
.all-grain-header {
    font-size: 35px;
}

footer {
    background-color: gray;
}